body {
	background-image: url(../images/arches.png);
	font-family: 'Bad Script', cursive; 
	font-size: 18px;
}


.header{
	background-color: #197891;
	height: 90px;
	padding: 8px;
	font-family: Pacifico;
	font-size: 50px;
	color: white;
	text-align: center;
}

span h1{
	display: inline-block;
	font-size: 45px;
	color: white;
	margin: 0;
	padding: 8px 0 0 30px;
	text-align: center;
}

#contact h1{
	font-family: 'Pacifico', cursive;
	font-size: 55px;
	text-align: center;
}




.navbar.navbar-default{
	background:#c9eff9;
	border-bottom: solid 3px #f6b7a9;
	box-shadow: 0 0 40px rgba(0,0,0,0.4);
	text-align: center;
}

.nav.navbar-nav {
	font-family: 'Bad Script', cursive; 
	font-size: 18px;
	display: inline-block;
  	float: none;
 	vertical-align: top;
}

/*.nav.navbar-nav> li.active > a{
	background-color: white;
}*/
.navbar-toggle{
	background-color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: #c9eff9;
}
/* Hamburger*/
.navbar-default .navbar-toggle .icon-bar{
  background-color: #197891;
  border: #197891; 
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: white;
}

.navbar-header{
	background-color: #c9eff9;
}


label {
	display: block;
	margin-top: 30px;
}


select {
	display: block;
	text-align: left;

}

#contact{
	background: #f6b7a9;
	margin: 30px auto 10px auto;
	padding: 25px;
	width: 520px;
}


#name, #password, #email, #message{
	font-size: 16px;
	margin: 10px 0 0 0;
	display: inline-block;
	width: 100%;
}

#message {
	padding: 10px;
}

#nameErrorMessage, #emailErrorMessage{
	display: none;
	color: red;
	padding-top: 5px;
	text-align: center;
}


#submit{
	padding: 8px;
	margin: 20px auto;
}
.btn-default {
	display: block;
	margin: 2rem auto 0;
	padding: 1.5rem;
	font-size: 2rem;

}
.footer{
	background-color: #e1ecf4;
	padding: 1.25em 0 2em;
	text-align: center;
	border-top: 0.5em solid #197891;
}
/* RESPONSIVE MEDAIA QUERIES*/

/******* TABLET + *******/
@media  screen and (min-width: 768px) and (max-width: 1024px) {
	body{

	}
}

/******* SMALLER TABLETS **********/
@media screen and (max-width: 767px) {
	.header p{
		display: none;
	}
	#headerLogo{
		background: #197891;
		display: inline-block;
		font-size: 20px;
		font-family: 'Pacifico', cursive;	
		color: white;
		padding: 16.5px 8px;
		border-radius: 100%;
		border: solid white 2px;
		transform: rotate(-20deg);
	}
	
	#contact{
		width: 80%;
		padding: 15px;
	}
	
	h1{
		font-size: 30px;
	}
}

/******* PHONES *********/
@media only screen and (max-width: 400px) {
	h1{
		font-size: 30px;
	}

	.header p{
		display: none;
	}
	
	#headerLogo{
		background: #197891;
		display: inline-block;
		font-size: 15px;
		font-family: 'Pacifico', cursive;	
		color: white;
		padding: 16.5px 8px;
		border-radius: 100%;
		border: solid white 2px;
		transform: rotate(-20deg);
	}

	#contact{
		width: 100%;
		padding: 10px;
	}
}
