body {
	background-image: url(../images/arches.png);
	font-family: 'Bad Script', cursive; 
	font-size: 18px;
}


.header{
	float: clear;
	background-color: #197891;
	height: 90px;
	padding: 8px;
}

h1{
	display: inline-block;
	font-size: 45px;
	color: white;
	margin: 0;
	padding: 8px 0 0 30px;
	text-align: center;
}
h2{
	padding-bottom: 8px;
}

h3{
	font-size: 18px;
	text-decoration: underline;
}

#headerLogo{
	background: #197891;
	display: inline-block;
	font-size: 20px;
	font-family: 'Pacifico', cursive;	
	color: white;
	padding: 16.5px 8px;
	border-radius: 100%;
	border: solid white 2px;
	transform: rotate(-20deg);
}

.navbar.navbar-default{
	background:#c9eff9;
	border-bottom: solid 3px #f6b7a9;
	box-shadow: 0 0 40px rgba(0,0,0,0.4);
	text-align: center;
}

.nav.navbar-nav {
	font-family: 'Bad Script', cursive; 
	font-size: 18px;
	display: inline-block;
  	float: none;
 	vertical-align: top;
}

/*.nav.navbar-nav> li.active > a{
	background-color: white;
}*/
.navbar-toggle{
	background-color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: #c9eff9;
}
/* Hamburger*/
.navbar-default .navbar-toggle .icon-bar{
  background-color: #197891;
  border: #197891; 
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: white;
}

.navbar-header{
	background-color: #c9eff9;
}


.index{
	display: flex; 
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	flex-basis: auto;
	margin: 70px 0 100px;

}

.thumbnail {
	background-color: white;
	padding: 5px;
	margin: 5px;
	text-align: center;
	font-size: 2rem;
}

.thumbnail img {
	width: 150px;
	border-radius: 50%;
	margin: 1rem .5rem;
	border: solid .25rem #f6b7a9;
}

.pastaCard{
	background-color: #f6b7a9;
	margin: 50px auto 10px auto;
	height: auto;
	width: 768px;
}

.pronounce{
	font-family: Bad Script;
	font-size: 24px;
	padding-left: 40px;
}
.pastaCopy{
	margin-left: 230px;
	padding: 10px;
}

p{ /* padding around ea p in the pasta card*/
	padding-top: 1.25rem;
}
.firstWord{
  float: left;
  font-size: 4rem;
  line-height: 4.063rem;
  padding: .25rem 1rem 0 0;
}
.pastaTitle{
	padding: 15px 0 0 15px;
	font-size: 6rem;
	font-family: Pacifico;
}


hr{
	margin: 15px 0 0 0;
}


.arrowDown{
	text-align: center;
	padding: 10px auto 30px auto;
}
.arrowDown p .thumbnail p{
	font-size: 24px;
}

.arrowUp{
	text-align: right;
	margin: 0 40px 10px;
}

a:hover{
	text-decoration: none;
}

.recipe{
	background-color: white;
	border: solid 4px #f6b7a9;
	margin: 20px auto 10px auto;
	height: auto;
	width: 768px;
	padding: 5px 5px 5px 20px;
}

.ingredients{
	display: block;
	float: left;
	padding-right: 25px;
	width: 40%;
	border-right: dotted 3px #197891;
	border-bottom: dotted 3px #197891;
}
.ingredients li{
	font-family: Overlock;
	font-size: 16px;
	list-style-type: circle;
	padding-top: 8px;
}



.number{
	font-weight: bold;
	font-size: 24px;
}

.directions{
	display: block;
	float: left;
	width: 60%;
	padding-left: 20px;
}

.directions li{
	font-family: Overlock;
	font-size: 16px;
	list-style-type: none;
	padding-bottom: 5px;
}
.clear{
	clear:both; 
	overflow:hidden;
}

.pastaPicture img{
	width: 200px;
	border-radius: 50%;
	margin: 10% 2%;
	border: solid .25rem white;
	margin: 60px 20px;
	float: left;
}



@media screen and (min-width: 768px) and (max-width: 999px) {
	.index{
		margin: 0 50px;
	}

}

@media screen and (max-width: 767px) {
	.header{
		width: 100%;
	}
	#headerSection{
		margin: 20px 0 0 0;
	}

	.pastaPicture img{
		width: 150px;
	}
	.pastaCopy{
		margin-left: 180px;
		padding: 10px;
	}
	
	.pastaCard{
		margin: 50px auto 10px auto;
		height: auto;
		width: 100%;
	}
	.pastaTitle{
		font-size: 40px;
	}
	.thumbnail img{
		width: 100px;
	}

	.index{
		margin: 30px 0;
	}
	h1{
		font-size: 40px;
		margin: 10px 0 10px 0;
	}

	.firstWord{
		float: left;
		font-size: 30px;
 		padding: 8px 5px 0 0;
 		line-height: 10px;
 	}
 	.arrowDown{
	padding-bottom: 30px;
	}
	.recipe{
		width: 100%;
	}
}

/******* PHONES *********/
@media only screen and (max-width: 440px) {
	h1{
		font-size: 35px;
		padding: 12px 0 20px 0;
	}
	.pastaPicture img{
		display: none;
	}
	.pastaCopy{
		margin-left: 0px;
		padding: 10px;
	}
	
	.pastaTitle{
		text-align: center;
	}
	
	.ingredients{
		width: 100%;
		border-right: none;
	}

	.directions{
		width: 100%;
		padding-left: 0
	}

	.ingredients li{
		display: inline;
		padding-right: 10px;
		border-right: dotted 3px #197891;
	}
	.pronounce{
	font-family: Bad Script;
	font-size: 18px;
	float: right;
	padding: 10px 0 0 0 ;

}



