body {
	background-image: url(../images/arches.png);
	font-family: 'Bad Script', cursive; 
	font-size: 18px;
}


.header { 
	background: #197891;
	height: 130px;
	padding-top: 10px;
	font-size: 55px;
	font-family: 'Pacifico', cursive;	
	color: white;
	text-align: center;
}

ul {
	width: 100%;
	font-family: 'Bad Script', cursive; 
	font-size: 18px;
	background: #c9eff9;
	border-bottom: solid 3px #f6b7a9;
	height: 50px;
	box-shadow: 0px 2px 20px #888888;
}

li {
	list-style-type: none;
	display: inline-block;
	padding: 15px 50px 15px 0;
}

h1 {
	text-align: center;
}

.pastaCard{
	background-color: #f6b7a9;
	margin: 50px auto 10px auto;
	height: 500px;
	width: 768px;
}

.pastaCopy{
	margin-left: 230px;
	padding: 10px;
}
p{
	padding-top: 1.25rem;
}
.firstWord{
  float: left;
  font-size: 4rem;
  line-height: 4.063rem;
  padding: .25rem 1rem 0 0;
}
.pastaTitle{
	padding: 15px 0 0 15px;
	font-size: 6rem;
	font-family: Pacifico;
	
}

img{
	float: left;
	width: 200px;
	border-radius: 50%;
	margin: 10% 2%;
}


hr {
	margin: 0px;
}



