body {
	background-image: url(../images/arches.png);
	font-family: 'Bad Script', cursive; 
	font-size: 18px;
}

#headerLogo{
	display: none;
}

.header{
	background-color: #197891;
	height: 90px;
	padding: 8px;
	font-family: Pacifico;
	font-size: 50px;
	color: white;
	text-align: center;
}

span h1{
	display: inline-block;
	font-size: 45px;
	color: white;
	margin: 0;
	padding: 8px 0 0 30px;
	text-align: center;
}


.navbar.navbar-default{
	background:#c9eff9;
	border-bottom: solid 3px #f6b7a9;
	box-shadow: 0 0 40px rgba(0,0,0,0.4);
	text-align: center;
}

.nav.navbar-nav {
	font-family: 'Bad Script', cursive; 
	font-size: 18px;
	display: inline-block;
  	float: none;
 	vertical-align: top;
}

/*.nav.navbar-nav> li.active > a{
	background-color: white;
}*/
.navbar-toggle{
	background-color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: #c9eff9;
}
/* Hamburger*/
.navbar-default .navbar-toggle .icon-bar{
  background-color: #197891;
  border: #197891; 
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: white;
}

.navbar-header{
	background-color: #c9eff9;
}

h1 {
	font-family: Pacifico;
	font-size: 35px;
	text-align: center;
}

#quizBox {
	background: #c9eff9;
	margin: 40px auto 10px auto;
	height: auto;
	width: 600px;
	padding: 30px;

}


footer {
	color: white;
	text-align: center;
	padding: 10px;
}

label {
	display: block;
	margin-top: 50px;
	font-style: italic;
	font-weight: 900;
	clear: both;
}


select {
	display: block;
	text-align: left;
}
input[type="radio"].colors {
    display: none;
}


#quizQuestions{
	font-family: Overlock;
}

ul {
    display: inline-block;
    margin: 0 0 1em;
}


#red {
	background: #e9503b;
}

#blue {
	background: #503be9;
}

#green {
	background: #7ddf92;
}

#blue {
	background: #2481cd;
}

#yellow {
	background: #f7d660;
}

.image {
	display: block;
	border: solid white 3px;
	border-radius: 5px;
    float: left;
  	list-style-type: none;
    margin: 8px 8px 30px 8px;
}
 

.image:hover{
	background: #FFF;
    opacity: 0.3;
}

#submit{
	padding: 8px;
	margin: 20px auto;
}
.btn-default {
	display: block;
	margin: 2rem auto 0;
	padding: 1.5rem;
	font-size: 2rem;

}

/* RESPONSIVE MEDAIA QUERIES*/

/******* SMALLER TABLETS **********/
@media screen and (max-width: 767px) {

	#quizBox {
		width: 80%;
		}
	h1{
		font-size: 30px;
	}
	img, .image{
		width: 20%;
		margin: 5px;
	}
}

/******* PHONES *********/
@media only screen and (max-width: 400px) {
	#quizBox{
		padding: 5px;
		width: 90%;
	}
	h1{
		font-size: 20px;
	}
	label{
		margin-top: 20px; 
	}

	.header p{
		display: none;
	}
	.header{
		height: auto;
	}
	#headerLogo{
		background: #197891;
		display: inline-block;
		font-size: 15px;
		font-family: 'Pacifico', cursive;	
		color: white;
		padding: 16.5px 8px;
		border-radius: 100%;
		border: solid white 2px;
		transform: rotate(-20deg);
	}

}









