body {
	background-image: url(../images/arches.png);
	font-family: 'Bad Script', cursive; 
	font-size: 18px;
}


.header{
	float: clear;
	background-color: #197891;
	height: 90px;
	padding: 8px;
}

span h1{
	display: inline-block;
	font-size: 45px;
	color: white;
	margin: 0;
	padding: 8px 0 0 30px;
	text-align: center;
}

#contact h1{
	font-family: 'Pacifico', cursive;
	font-size: 55px;
	text-align: center;
}


#headerLogo{
	background: #197891;
	display: inline-block;
	font-size: 20px;
	font-family: 'Pacifico', cursive;	
	color: white;
	padding: 16.5px 8px;
	border-radius: 100%;
	border: solid white 2px;
	transform: rotate(-20deg);
}

.navbar.navbar-default{
	background:#c9eff9;
	border-bottom: solid 3px #f6b7a9;
	box-shadow: 0 0 40px rgba(0,0,0,0.4);
	text-align: center;
}

.nav.navbar-nav {
	font-family: 'Bad Script', cursive; 
	font-size: 18px;
	display: inline-block;
  	float: none;
 	vertical-align: top;
}

/*.nav.navbar-nav> li.active > a{
	background-color: white;
}*/
.navbar-toggle{
	background-color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: #c9eff9;
}
/* Hamburger*/
.navbar-default .navbar-toggle .icon-bar{
  background-color: #197891;
  border: #197891; 
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: white;
}

.navbar-header{
	background-color: #c9eff9;
}

h1 {
	font-family: Pacifico;
	font-size: 35px;
	text-align: center;
}

#surveyBox {
	background: #c9eff9;
	margin: 80px auto 10px auto;
	height: auto;
	width: 520px;
	padding: 30px;

}

#name, #password, #email {
	margin: 10px 0 0 0;
	display: inline-block;
	width: 100%;
}


footer {
	color: white;
	text-align: center;
	padding: 10px;
}

label {
	display: block;
	margin-top: 50px;
	font-style: italic;
	font-weight: 900;
}


select {
	display: block;
	text-align: left;
}

.answerOptions{
	font-family: Overlock;
}

ul {
    display: inline-block;
    margin: 0 0 1em;
}


#red {
	background: #e9503b;
	border: solid white 3px;
}

#blue {
	background: #503be9;
	border: solid white 3px;
}

#green {
	background: #7ddf92;
	border: solid white 3px;
}

#blue {
	background: #2481cd;
	border: solid white 3px;
}

#yellow {
	background: #f7d660;
	border: solid white 3px;
}

.image {
	display: block;
	border: solid white 3px;
	border-radius: 5px;
    float: left;
    list-style-type: none;
    margin: 8px 8px 30px 8px;
}
 

.image:hover{
	background: #FFF;
    opacity: 0.3;
}

#submit{
	padding: 8px;
	margin: 20px auto;
}
.btn-default {
	display: block;
	margin: 0 auto;
	padding: 1rem;
	font-size: 2rem;

}
