body {
	background-image: url(../images/arches.png);
	font-family: 'Josefin Slab', cursive; 
	font-size: 18px;
}


#headerLogo{
	background: #197891;
	display: inline-block;
	font-size: 20px;
	font-family: 'Pacifico', cursive;	
	color: white;
	padding: 16.5px 8px;
	border-radius: 100%;
	border: solid white 2px;
	transform: rotate(-20deg);
}

.header{
	float: clear;
	background-color: #197891;
	height: 90px;
	padding: 8px;
}

h1 {
	display: inline-block;
	font-family: Vast Shadow;
	font-size: 45px;
	color: white;
	margin: 0;
	padding: 8px 0 0 30px;
	text-align: center;
}


.navbar.navbar-default{
	background:#c9eff9;
	border-bottom: solid 3px #f6b7a9;
	box-shadow: 0 0 40px rgba(0,0,0,0.4);
	text-align: left;
}

.nav.navbar-nav {
	font-family: 'Josefin Slab', cursive; 
	font-size: 18px;
	display: inline-block;
  	float: none;
 	vertical-align: top;
}

/*.nav.navbar-nav> li.active > a{
	background-color: white;
}*/
.navbar-toggle{
	background-color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: transparent;
	font-weight: bold;
}
/* Hamburger*/
.navbar-default .navbar-toggle .icon-bar{
  background-color: #197891;
  border: #197891; 
}

.navbar-default .navbar-nav>li>a:hover {
	font-weight: bold;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: transparent;
	font-weight: bold;
}

.dropdown-menu{
	background:rgba(201, 239, 249, .80);
	font-size: 18px;
	border: none;
}

.dropdown-menu>li>a:hover {
	background-color: transparent;
	font-weight: bold;
}

.navbar-header{
	background-color: #c9eff9;
}

h2 {
	font-family: Vast Shadow;
	font-size: 45px;
	text-align: center;
}

#quizBox {
	background: #c9eff9;
	margin: 40px auto 10px auto;
	height: auto;
	width: 600px;
	padding: 30px;

}


footer {
	color: white;
	text-align: center;
	padding: 10px;
}

label {
	display: block;
	margin-top: 50px;
	font-weight: 900;
	font-style: italic;
	clear: both;
}

input[type="radio"]{
	margin-right: 5px;
}

select {
	display: block;
	text-align: left;
}
input[type="radio"].colors {
    display: none;
}



ul {
    display: inline-block;
    margin: 0 0 1em;
}


#red {
	background: #e9503b;
}

#blue {
	background: #503be9;
}

#green {
	background: #7ddf92;
}

#blue {
	background: #2481cd;
}

#yellow {
	background: #f7d660;
}

.image {
	display: block;
	border: solid white 3px;
	border-radius: 5px;
    float: left;
  	list-style-type: none;
    margin: 8px 8px 30px 8px;
}
 
.videoLink:hover{
	text-decoration: underline;
}

.image:hover{
	background: #FFF;
    opacity: 0.3;
}

#submit{
	padding: 8px;
	margin: 20px auto;
}
.btn-default {
	display: block;
	margin: 2rem auto 0;
	padding: 1.5rem;
	font-size: 2rem;
	background-color: #f6b7a9;
	border-color: transparent;
}

.btn:hover{
	background-color: #f6b7a9;
	border: 2px solid #fff; 
}


#wrapper {
    width:600px; 
    margin:0 auto; /*centers the div horizontally in all browsers (except IE)*/
    background:#fff; 
    text-align:left; /*resets text alignment from body tag */
    border:1px solid #ccc;
    border-top:none; 
    padding:25px; 
    /*Let's add some CSS3 styles, these will degrade gracefully in older browser and IE*/
    border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px; 
    box-shadow:0 0 5px #ccc;
    -moz-box-shadow:0 0 5px #ccc;
    -webkit-box-shadow:0 0 5px #ccc;
}

#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background-color:rgba(0,0,0,.7); 
    text-align:center;
    z-index: 100;
}

#lightbox p {
    text-align:right; 
    color:#fff;  
  	font-weight: 400;
  	font-style: italic;
    padding: 200px 250px 0 0;
}


#lightbox img {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width:940px;

}


/* RESPONSIVE MEDAIA QUERIES*/

/******* SMALLER TABLETS **********/
@media screen and (max-width: 767px) {

	#quizBox {
		width: 80%;
		}
	h1{
		font-size: 30px;
	}
	img, .image{
		width: 20%;
		margin: 5px;
	}
}

/******* PHONES *********/
@media only screen and (max-width: 400px) {
	#quizBox{
		padding: 5px;
		width: 90%;
	}
	h1{
		font-size: 20px;
	}
	label{
		margin-top: 20px; 
	}

	.header p{
		display: none;
	}
	.header{
		height: auto;
	}
	#headerLogo{
		background: #197891;
		display: inline-block;
		font-size: 15px;
		font-family: 'Pacifico', cursive;	
		color: white;
		padding: 16.5px 8px;
		border-radius: 100%;
		border: solid white 2px;
		transform: rotate(-20deg);
	}









