body {
	background-image: url(../images/arches.png);
	font-family: 'Bad Script', cursive; 
	font-size: 18px;
}

div {
	display: block;
}
.navbar.navbar-default{
	background:#c9eff9;
	border-bottom: solid 3px #f6b7a9;
	box-shadow: 0 0 40px rgba(0,0,0,0.4);
	text-align: center;
}

.nav.navbar-nav {
	font-family: 'Bad Script', cursive; 
	font-size: 20px;
	display: inline-block;
  	float: none;
 	vertical-align: top;
}

.nav.navbar-nav li{
	padding: 0 20px;
}	

.navbar-toggle{
	background-color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: #c9eff9;
}
/* Hamburger*/
.navbar-default .navbar-toggle .icon-bar{
  background-color: #197891;
  border: #197891; 
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: white;
}

.navbar-header{
	background-color: #c9eff9;
}

h1{
	font-size: 65px;
	font-family: 'Pacifico', cursive;	
	text-align: center;
	padding-bottom: 60px;
}

h2 {
	text-align: center;
	padding: 0px 0 15px 0;
}

#headerSection{
	margin: 40px 0 100px 0;
}

.header{
	background: #197891;
	height: auto;
	padding: 20px 0 30px 0;
	font-size: 100px;
	font-family: 'Pacifico', cursive;	
	color: white;
	text-align: center;
}

.intro{
	background-color: #197891;
	height: auto;
	width: auto;
	color: white;
	font-size: 50px;
	text-align: center;
	padding: 40px;
}

#pastaSection{
	height: 600px;
	padding-top: 10px;
	margin: 40px 0;
	border: solid 5px #e1ecf4;
}

.mainBox img{
	display: block;
	height: 250px; 
	width: auto;
	border-radius: 100%;
	padding: 10px;
	border: dotted #197891;
	margin: 20px auto;
}

img:hover {
    border: solid #197891;
}


.arrowDown{
	padding: 100px;
	font-size: 30px;
}

.arrowDown a{
	color: white;
}


.footer{
	background-color: #e1ecf4;
	padding: 1.25em 0 2em;
	text-align: center;
	border-top: 0.5em solid #197891;
}

.out{
	width: 100%;
}

.in {
	width: 85%;
	max-width: 1000px;
	margin: 0 auto;
}



/* Responsive Queries */

@media screen and (min-width: 768px) and (max-width: 999px) {
	.mainBox img{
		height: 180px; 
		width: auto;
		margin: 0px;

	}
	

}
@media screen and (max-width: 767px) {
	.header{
		font-size: 60px;
	}
	#headerSection{
		margin: 20px 0 0 0;
	}
	#pastaSection{
		margin: 20px 0;
		height: 880px;
	}
	.intro{
		font-size: 30px;
		padding: 20px;
		height: auto;
	}
	h1{
		font-size: 40px;
		padding: 2px 0 10px 0;
		margin: 0;
	}
	h2{
		font-size: 20px;
	}
	.arrowDown{
		display: none;
	}
	.mainBox{
		margin: auto;
	}

	.mainBox img{
		height: 200px; 
		width: auto;
		margin: auto;
	}


}

/******* PHONES *********/
@media only screen and (max-width: 440px) {
	.header{
		font-size: 40px;
	}
	#headerSection{
		margin: 20px 0 0 0;
	}
	#pastaSection{
		margin: 20px 0;
		height: 780px;
	}
	.intro{
		display: none;
	}
	h1{
		font-size: 40px;
		padding: 2px 0 20px 0;
		margin: 0;
	}
	h2{
		font-size: 20px;
	}
	
	.mainBox{
		margin: auto;
	}

	.mainBox img{
		height: 150px; 
		width: auto;
		margin: auto;
	}

}




